<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- panel body -->
				<h2><small>League</small> {{ league.current.name }} <small>created: {{ league.current.created }}</small></h2>
				<button class="btn btn-primary" ng-click="league.players()">Players list</button>

				<!-- Tournaments -->
				<div class="row">
					<div class="col-xs-12">
						<div class="page-head">
							<h2>
								Tournaments list
								<button class="btn btn-sm btn-success" ng-click="league.newTournament()">Make new</button>
							</h2>
						</div>
					</div>
				</div>
				<!-- table -->
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Status</th>
									<th>Name</th>
									<th>Description</th>
									<th>Date</th>
									<th>Points</th>
									<th>City</th>
									<th>Created</th>
									<th>
										<button class="btn btn-xs btn-primary" ng-click="league.getTournaments()">Refresh</button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tournament in league.current.tournaments">
									<td>{{ tournament.status }}</td>
									<td>{{ tournament.name }}</td>
									<td>{{ tournament.desc }}</td>
									<td>{{ tournament.date }}</td>
									<td>{{ tournament.city }}</td>
									<td>{{ tournament.created }}</td>
									<td><button class="btn btn-xs btn-primary" ng-click="goToTournament(tournament)">Details</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>

				<!-- panel body end -->
			</div>
		</div>

		{{ league }}
	</div>
</div>