<div class="row">
	<div class="col-xs-12">
		<h2><small>League</small> {{ league.current.name }} <small>created: {{ league.current.created }}</small></h2>
		<button class="btn btn-primary" ng-click="league.players()">Players list</button>
		<!-- Tournaments -->
		<div class="row">
			<div class="col-xs-12">
				<div class="page-head">
					<h2>
					Tournaments list
					<button class="btn btn-sm btn-success" ng-click="league.newTournament()">Make new</button>
					</h2>
				</div>
			</div>
		</div>
		<!-- table -->
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Description</th>
							<th>City</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Created</th>
							<th>
								<button class="btn btn-xs btn-primary" ng-click="league.refresh()">Refresh</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tournament in league.current.tournaments">
							<td>{{ $index+1 }}</td>
							<td>{{ tournament.name }}</td>
							<td>{{ tournament.desc }}</td>
							<td>{{ tournament.city }}</td>
							<td>{{ tournament.startDate }}</td>
							<td>{{ tournament.endDate }}</td>
							<td>{{ tournament.created }}</td>
							<td><button class="btn btn-xs btn-primary" ng-click="league.tournamentDetails(tournament)">Details</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</div>