<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary pull-right" ng-click="competition.edit()">Edit</button>
		<h2><small>Competition</small> {{ competition.current.name }} <small>created: {{ competition.current.created }}</small></h2>
		<p class="lead">
			{{ competition.current.desc }}
		</p>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<dl class="dl-horizontal">
			    <dt>Type</dt>
			    <dd>
			      {{ competition.current.type }}
			    </dd>
			    <dt>Team Size</dt>
			    <dd>
			      {{ competition.current.teamSize }}
			    </dd>
			  </dl>
			</div>
		</div>
		<button class="btn btn-primary pull-right" ng-click="competition.teams()">
			Teams
		</button>
		<button class="btn btn-success" ng-click="competition.start()">Start!</button>
		<!-- competitions -->
		<div class="row">
			<div class="col-xs-12">
				<div class="page-head">
					<h2>
					Matches
					<button class="btn btn-sm btn-success" ng-click="competition.newCompetition()">Make new</button>
					</h2>
				</div>
			</div>
		</div>
		<!-- competitions -->
		<div class="row">
			<div class="col-xs-6">
				<ul class="list-group">
					<li ng-repeat="competition in competition.current.competitions" class="list-group-item">
						{{ competition.name }} {{ competition.created }} 
						<button ng-click="competition.competitionDetails(competition)" class="btn btn-primary btn-sm">Details</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>